@charset "utf-8";

body{
	width: 100%; 
  height: 100%; 
  margin: 0px; 
  padding: 0px;
}

header{
  margin: auto;
  width: 100%;
  background: #2c3338;
  color: #606468;
  padding-top: 1px;
  min-height:70px;
  border-bottom: 3px solid #b5cd60;
}

header button[type="submit"] {
  margin: auto;
  position:absolute;
  right: 2%;
  background: #b5cd60;
  border: 0;
  width: 7%;
  height: 40px;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

header button[type="submit"]:hover {
  background: #16aa56;
}

#index {
  margin: 50px auto;
  width: 600px;
}

#index form {
  margin: auto;
  padding: 4px 4px 22px 22px;
  width: 100%;
  border-radius: 25px;
  background: #282e33;
  border-top: 3px solid #b5cd60;
  border-bottom: 3px solid #b5cd60;
}

#operations {
 text-align: center;
}

button[id="MyAddress"] {
    background: #b5cd60;
    margin-right: 110px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 5px solid #000;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button[id="ListAllUsers"] {
    background: #b5cd60;
    margin-right: 25px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 5px solid #000;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
  background: #16aa56;
}

h1 {
  font-size: 60px;
  color: #b5cd60;
  text-shadow: -1px 5px black;
}

h2 {
  font-size: 30px;
  color: #b5cd60;
   margin-left:5px;
}

mark.bl {
    color:black;
    background: none;
  
}


